<!--Esqueleto de la app -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a>
      <img src="/img/logo.jpeg" alt="logo" width="90" height="100">
    </a>  
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex flex-row gap-3 nav-center">
        <li class="nav-item nav-link border px-3 rounded">
          <a class="nav-link" [routerLink]="['/clothes']" aria-current="page">Inicio</a>
        </li>
        <li class="nav-item dropdown nav-link border px-3 rounded">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/not-found']">Calzados</a></li>
            <li><a class="dropdown-item" [routerLink]="['/not-found']">Buzos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/not-found']">Camperas</a></li>
          </ul>
        </li>

        <li class="nav-link border px-3 rounded">
          <a class="nav-link" [routerLink]="['/about']" aria-current="page">Contacto</a><!--RUTEO-->
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <h1>{{title}}</h1><!--Etiqueta {{}}-->
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Indumentaria JH deportivo</h5>
      <div class="mt-4">
        <ul class="list-unstyled mt-4">
          <li>
            <a href="https://www.instagram.com/" target="_blank" class="text-decoration-none text-dark">
            <i class="fab fa-instagram me-2"></i>Instagram</a>
          </li>
          <li>
            <a href="https://www.Facebook.com/" target="_blank" class="text-decoration-none text-dark">
            <i class="fab fa-instagram me-2"></i>Facebook</a>
          </li>
        </ul>

        </div>
      
    <a href="#" (click)="scrollToTop($event)" class="btn btn-primary">Ir arriba</a>
  </div>
</div>
</footer>
